.sidebar {
    flex: 1;
    border-right: 1px solid #000;
    min-height: 100vh;
    min-width: 174px;
}
.sidebar .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar .top .logo {
  font-size: 20px;
  font-weight: bold;
  color: #008400;
}


.sidebar .center {
    padding-left: 10px;
}

.sidebar .center ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -10px;
}

.sidebar .center ul .title {
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 8px;
    margin-left: 10px;
}

.sidebar .center ul li{
    display: flex;
    align-items: center;
    padding: 5px;
    /* con cho chuot hinh ban tay */
    cursor: pointer;
    border-bottom: 1px solid #000;
}

.sidebar .center ul li .icon{
    font-size: 30px;
    color: #008400;
    margin-left: 10px;
}

.sidebar .center ul li span{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-left: 20px;
}

.sidebar .bottom {
   display: flex;
   align-items: center;
   margin: 10px;
}
.sidebar .bottom .colorOption {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #7451f8;
    cursor: pointer;
    margin: 5px;
}
.sidebar .bottom .colorOption:nth-child(1) {
   background-color: whitesmoke;
}
.sidebar .bottom .colorOption:nth-child(2) {
    background-color: #333;
 }

 .sidebar__link{
    text-decoration: none;
 }

.icon1 {
    color: #008400;
    margin-left: 10px;
}
